# Flutter / Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Env files
.env

# IDE
.idea/
.vscode/
*.iml

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db

# Android
/android/app/debug
/android/app/profile
/android/app/release

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Generated
**/generated_plugin_registrant.*

# .NET (your db_check folder)
db_check/bin/
db_check/obj/